interactions:
- request:
    body: null
    headers:
      Authorization: ['<redacted>']
    method: GET
    uri: https://api.plaud.ai/file/simple/web?skip=0&limit=1&is_trash=0
  response:
    body:
      string: '{"status":-302,"msg":"user region mismatch","data":{"domains":{"api":"https://api-euc1.plaud.ai"}}}'
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: ['<redacted>']
    method: GET
    uri: https://api-euc1.plaud.ai/file/simple/web?skip=0&limit=1&is_trash=0
  response:
    body:
      string: '{"data_file_list":[]}'
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
