interactions:
- request:
    body: null
    headers: {Authorization: ['<redacted>']}
    method: GET
    uri: https://api.plaud.ai/file/simple/web?skip=0&limit=1&is_trash=0
  response:
    body: {string: '{"data_file_list":[]}'}
    headers: {Content-Type: [application/json]}
    status: {code: 200, message: OK}
- request:
    body: null
    headers: {Authorization: ['<redacted>']}
    method: GET
    uri: https://api.plaud.ai/file/temp-url/rec_abc
  response:
    body: {string: '{"temp_url":"https://s3.example.com/rec_abc.mp3?sig=xyz"}'}
    headers: {Content-Type: [application/json]}
    status: {code: 200, message: OK}
- request:
    body: null
    headers: {}
    method: GET
    uri: https://s3.example.com/rec_abc.mp3?sig=xyz
  response:
    body: {string: 'AAAABBBBCCCCDDDD<truncated_audio>'}
    headers:
      Content-Type: [audio/mpeg]
    status: {code: 200, message: OK}
version: 1
