interactions:
- request:
    body: null
    headers: {Authorization: ['<redacted>']}
    method: GET
    uri: https://api.plaud.ai/file/simple/web?skip=0&limit=1&is_trash=0
  response:
    body: {string: '{"data_file_list":[{"id":"a","file_name":"A","start_time":1700000000000,"duration_ms":1000,"filesize":100,"filetag_id":"folder1"}]}'}
    headers: {Content-Type: [application/json]}
    status: {code: 200, message: OK}
- request:
    body: null
    headers: {Authorization: ['<redacted>']}
    method: GET
    uri: https://api.plaud.ai/file/simple/web?skip=0&limit=50&is_trash=0
  response:
    body:
      string: '{"data_file_list":[
        {"id":"a","file_name":"A","start_time":1700000003000,"duration_ms":1000,"filesize":100,"filetag_id":"f1"},
        {"id":"b","file_name":"B","start_time":1700000002000,"duration_ms":1000,"filesize":100,"filetag_id":"f1"}]}'
    headers: {Content-Type: [application/json]}
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers: {Authorization: ['<redacted>']}
    method: GET
    uri: https://api.plaud.ai/file/simple/web?skip=100&limit=50&is_trash=0
  response:
    body: {string: '{"data_file_list":[]}'}
    headers: {Content-Type: [application/json]}
    status: {code: 200, message: OK}
version: 1
